<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta theme-color="<%= themeColor %>"/>

    <title><%= i18n.hello_world %></title>

    <style type="text/css">
      <%= css %>
    </style>
  </head>

  <body>
    <h1><%= i18n.hello_world %></h1>
    <div><%= ecomUtils.formatMoney(10) %></div>
  </body>
</html>
